.trapezoid {
  z-index: 5;
  width: 600px;
  height: 100px;
  transform: perspective(5px) rotateX(.5deg);
  background: repeating-linear-gradient(
    90deg,
    green, 
    lightgreen 10%
  );
}

#horizontal-list{
  display: flex;
  margin: 0 0;
}
h4 {
  margin-left: 55px;
  margin-right: 109px;
  margin-top: 10px;
  z-index: 10;
}
.goal-post-right {
    margin-left: -30px;
    margin-bottom: 135px;
  background-color: none;
  z-index: 2;
  transform: skewY(55deg)
}
.goal-post-left{
  margin-right: -25px;
  margin-bottom: 120px;
  z-index: 2;
  transform: rotateY(210deg) skewY(50deg)
}

.fieldDiv {
   display: flex;
   flex-direction: row;
   align-items: center;
}